* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.main {
    width: 100%;
    padding: 7rem;
    background-color: #23424A;
}

.content {
    width: 100%;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    font-family: 'Roboto';
    max-width: 470px;
}

h1 {
    font-size: 1.5rem;
    color: #ffffff;
}

p {
    color: #ffffff;
}

button {
    width: 50%;
    padding: 20px 0;
    border: none;
    background-color: #38CFD9;
    border-radius: 100px;
    font-family: 'Roboto';
    color: #23424A;
    font-weight: bolder;
    max-width: 233px;
}